 <footer class="site clearfix bs">
    <section class="lfloat">
        <ul>
            <lh>categorias</lh>
            {% for cat, _ in categories %}
            <li>
                <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="lfloat">
        <ul>
            <lh>páginas</lh>
            {% for p in pages %}
            <li>
                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="rfloat">
    <small>
        {% if COPYRIGHT %}<p>{{ COPYRIGHT }} desde 2019</p>{% endif %}
    </small>
    </section>
</footer>
