{% if TWITTER_USERNAME %}
    <a href="http://twitter.com/share" class="twitter-share-button" 
        data-count="horizontal" data-via="{{TWITTER_USERNAME}}">
        Tweet
    </a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js">
    </script>
{% endif %}
